/* your styles go here */

.img-background{
    /* background-color: grey; */
    background-image: url('../img/color.jpg')
}

#resume{
      background-image: url('../img/chalk.jpg');
      text-align: center;
      color: white;
      height: 500px;
  
}

.never{
    color: white;
    margin-top: 100px;
}
 /* #resume a{
     color: white;
 } */

 #para{
     text-align: center;
     color: white;
 }

 .social{
     text-align: center;
 }

 .box{
     height: 300px;
     width: 300px;
 }

/* #about{
    background-image: url('')
} */
