body{
    text-align: center;
    background-image: url("coolbackground.jpg");
}



#wrapper{
    width: 1000px;
    margin: 0 auto;
    color: floralwhite;
}

header{
     background-image: url("background.jpg");

}


h1{
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: bisque;
    font-family: 'Bungee', cursive;
}
 /*hello*/
nav{
    width: 100%;
	float: left;
	/*margin: 0 0 3em 0;*/
	padding: 0;
   

    
	 
}

nav a{
    color: bisque;
}


nav li{
    float: left;
    list-style: none;
    padding-left: 170px;
    font-family: 'Bungee', 'cursive';
    
    
}

/*.first{
   --- /*background-color: yellow;---
    height: 185px;
    width: 185px;
    float: center;
    margin-left: 380px;
    margin-top: 100px;
}*/

/*.first p{
    font-family: 'Bungee', 'cursive';
    font-size: 30px;
    color: purple;
}
*/

 p{
    margin: auto;
}

.second{
    /*background-color: orange;*/
    height: 160px;
    width: 160px;
    float: right; 
    margin: auto;
    padding-right: 650px;   
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: floralwhite;
  background-image: url("background.jpg");
  text-align: center;
}

footer p img{
    width: 20px;
    height: 20px;
}

/* Got this footer code from codepen

I did make some minor changes

https://codepen.io/cbracco/pen/zekgx

*/


