body{
    margin: auto;
}

header{
     background-image: url("background.jpg");

}


h1{
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: floralwhite;
    font-family: 'Bungee', cursive;
}
 /*hello*/
nav{
    width: 100%;
	float: left;
	/*margin: 0 0 3em 0;*/
	padding: 0;
    background-color: #fff;

    
	 
}

nav li{
    float: left;
    list-style: none;
    padding-left: 300px;
    color: floralwhite;
    font-family: 'Bungee', 'cursive';
    
}

.first{
    background-color: yellow;
    height: 185px;
    width: 185px;
    float: left;
}

 p{
    margin: auto;
}

.second{
    background-color: orange;
    height: 160px;
    width: 160px;
    float: right;      
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: floralwhite;
  background-color: purple;
  text-align: center;
}

footer p img{
    width: 20px;
    height: 20px;
}

/* Got this footer code from codepen

I did make some minor changes

https://codepen.io/cbracco/pen/zekgx

*/


